[pylint]

extension-pkg-whitelist=PySide6

fail-under=8.0

disable=
    import-error,
    invalid-name,
    missing-docstring,
    too-many-instance-attributes,
    too-few-public-methods,
    wildcard-import,
