[pylint]

extension-pkg-whitelist=
    PySide6,
    PySide6-Addons,
    PySide6-Essentials

fail-under=7.0

disable=
    import-error,
    invalid-name,
    missing-docstring,
    too-many-instance-attributes,
    too-few-public-methods,
