[pylint]

extension-pkg-allow-list=PySide6

fail-under=7.0

disable=
    invalid-name,
    no-name-in-module,
    import-error,
    missing-docstring,
    too-many-statements,
    too-many-instance-attributes,
    too-few-public-methods,
